<!doctype html>
<html lang="en">
<head>

  <title>ARI CHATBOT DEMO</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
  
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
  <link rel="icon" href="{{url_for('static',filename='imgs/ari.jpg')}}">
  
</head>
<body>
  <!-- <script src="static/script.js"></script>
  -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
  function openForm() {
  document.getElementById("myForm").style.display = "block";
}
$("#send_btn").on("click", function(e) {
  var text  = box_chat.elements.namedItem("message").value;
  console.log("DEBUG text", text);

  if (text == "" || $.trim(text) == "") {
      e.preventDefault();
      return false;
  } else {
      send_message(text, "user123");
      e.preventDefault();
      return false;
  }
})
    
</script>

<div>
  <button class="open-button" onclick="openForm()">Chat</button>

  <div class="chat-popup" id="myForm">
    <form class="form-container" id="form-container">
      <h1>Chat with bot</h1>
  
      <label for="message"><b>Message</b></label>
      <div style="overflow-y: scroll; height:300px;" id="text_res" class="text_res">
        <div class="clearfix"></div>
        
      </div>
      <textarea placeholder="Type message.." name="message" required style="height:50px;" id="text_input"></textarea>
      
      <button type="button" class="btn" id="send_btn">Send</button>
      <button type="button" class="btn cancel" onclick="closeForm()" id="close_btn">Close</button>
    </form>
  </div>

</div>
<div class="container">
  <div class="row">
    <div class="col">

      <div class="mb-3 mt-3">

        <h3 class="mb-3" style="font-weight: 100">Upload files</h3>
        <div><b>Upload stories.md, nlu.md, domain.yml</b></div>
        <div class="form-group mb-3">
          <div class="custom-file">
            <input type="file" class="custom-file-input" name="file_input" id="file_input" oninput="input_filename();">
            <label id="file_input_label" class="custom-file-label" for="files">Select file</label>
          </div>  
          <div>
            <button onclick="upload('{{ request.url }}');" id="upload_btn" class="btn btn-primary">Upload</button>
          </div>
        </div>
        <form id="button_form", method="POST">
          <p>
            <input type="submit" value="Train" class="btn btn-primary"  onclick="show_alert('Start training model, please wait for few minutes...', 'success'); javascript:  form.action='/train';">
          </p>
        </form>  
        <p>
          {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul class=flashes>
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
            </ul>
            {% endif %}
          {% endwith %}
        </p> 
        <button class="btn btn-primary d-none" id="loading_btn" type="button" disabled>
          <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
          Uploading...
        </button>
        <button type="button" id="cancel_btn" class="btn btn-secondary d-none">Cancel upload</button>
      </div>

      <div id="progress_wrapper" class="d-none">
        <label id="progress_status"></label>
        <div class="progress mb-3">
          <div id="progress" class="progress-bar" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>

      <div id="alert_wrapper"></div>
    </div>
  </div>
</div>

<div id = "input_container" class="input_container">
  <form id = "my_form"> 
  <div class="input_row">
    <div class="col-25">
      <label for="sentences">Input sentences</label>
    </div>
    <div class="col-75">
      <textarea id="sentences" name="sentences" placeholder="Write something.." style="height:200px"></textarea>
    </div>
  </div>
  <div class="input_row">
    <div class="col-75">
        <button type="submit" value="Submit" class = "submit">Submit</button>
    </div>

    <div class="col-75">
      <button type="button" value="Clear" onclick="document.getElementById('myDIV').innerHTML = ''" class="Clear">Clear</button>
    </div>
  </div>
</form>

<div style="overflow-y: scroll; height:200px;" id="myDIV" class="myDIV">

</div>
</div>

<script type="text/javascript" src="https://raw.githubusercontent.com/duylebkHCM/demo_chatbot/master/static/index.js" crossorigin="anonymous"></script>
</body>
</html>
